<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlkiUMi3N1jNy2OTVGngU421CL7ZwSbyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>273350307186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treamzevan.expense-tracker</string>
	<key>PROJECT_ID</key>
	<string>quantum-ai---ios</string>
	<key>STORAGE_BUCKET</key>
	<string>quantum-ai---ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273350307186:ios:95e1fe6084deebbad901eb</string>
</dict>
</plist>